<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="Electric Dreams - Night Pulse">
<meta name="author" content="Antonio Cruz">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Electric Dreams | MusicStream</title>

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="icon" href="../iconos/apple-touch-icon.png">
</head>

<body>
<div class="app-layout">

<aside class="sidebar">
<h2 class="logo">MusicStream</h2>
<nav>
<ul>
<li><a href="../index.html">Descubrir</a></li>
<li><a href="libreria.html">Libreria</a></li>
<li><a href="#" class="active">Tienda</a></li>
</ul>
</nav>
</aside>

<div class="main-area">

<header class="header">
<h1 class="logo-text">MusicStream</h1>
</header>

<main class="content">
<section class="album-detail">

<div class="album-cover">
<img src="../imagenes/LinkinPark.png">
</div>

<div class="album-info">
<h2>Hybrid Theory</h2>
<p class="artist">LinkinPark</p>

<p class="description">
    Hybrid Theory letras introspectivas sobre dolor y lucha interna cantadas por Chester Bennington y rapeadas por Mike Shinoda.
</p>

<ul class="tracklist">
<li>1. Paper Cut</li>
<li>2. One Step Closer</li>
<li>3. Whit You</li>
</ul>

<p class="price">$11.99</p>

<a href="checkout.html" class="btn btn-primary">
Add to Cart
</a>

</div>

</section>
</main>

</div>
</div>
</body>
</html>
