<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="DiazAntes - Alvaro Diaz">
<meta name="author" content="Antonio Cruz">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DiazAntes | MusicStream</title>

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="icon" href="../iconos/apple-touch-icon.png">
</head>

<body>
<div class="app-layout">

<aside class="sidebar">
<h2 class="logo">MusicStream</h2>
<nav>
<ul>
<li><a href="../index.html">Descubrir</a></li>
<li><a href="libreria.html">Libreria</a></li>
<li><a href="#" class="active">Tienda</a></li>
</ul>
</nav>
</aside>

<div class="main-area">

<header class="header">
<h1 class="logo-text">MusicStream</h1>
</header>

<main class="content">
<section class="album-detail">

<div class="album-cover">
<img src="../imagenes/CanMuerte.png">
</div>

<div class="album-info">
<h2>Muerte</h2>
<p class="artist">Canserbero</p>

<p class="description">
    Muerte es el segundo álbum de estudio del rapero venezolano Canserbero, considerado una obra maestra y pilar fundamental del rap en español. Con un sonido oscuro, hostil y reflexivo,sirviendo como contraste sombrío a su álbum hermano, Vida.
    
</p>

<ul class="tracklist">
<li>1. Es Epico</li>
<li>2. Ser Vero</li>
<li>3. En el valle de las sombras</li>
</ul>

<p class="price">$10.99</p>

<a href="checkout.html" class="btn btn-primary">
Add to Cart
</a>

</div>

</section>
</main>

</div>
</div>
</body>
</html>
