<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../iconos/favicon.ico">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/layout.css">

  <title>Nombre del Álbum</title>
</head>
<body>

<header>
  <nav>
    <h1>MusicStream</h1>
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="card.html">Tienda</a></li>
      <li><a href="libreria.html">Librería</a></li>
    </ul>
  </nav>
</header>

<main class="content">
  <section class="album-detail">
    <img src="../imagenes/imagen.jpg" alt="">
    <div>
      <h2>Nombre del Álbum</h2>
      <p>Género · 2026</p>
      <br>
      <a href="checkout.html" class="btn">Comprar ahora</a>
    </div>
  </section>
</main>

</body>
</html>
