<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../iconos/favicon.ico">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/layout.css">

  <title>Tienda</title>
</head>
<body>

<header>
  <nav>
    <h1>MusicStream</h1>
    <ul>
      <li><a href="../index.html">Descubrir</a></li>
<li><a href="libreria.html">Libreria</a></li>
<li><a href="../index.html#albums" class="active">Tienda</a></li>

    </ul>
  </nav>
</header>

<main class="content">
  <h2>Tienda</h2>

  <section class="album-grid">

    <a href="album_diazante.html" class="album-card">
      <img src="../imagenes/diazante.jpg" alt="">
      <h3>Diazante</h3>
    </a>

    <a href="album_felician.html" class="album-card">
      <img src="../imagenes/felician.jpg" alt="">
      <h3>Felician</h3>
    </a>

    <a href="album_LinkinPa.html" class="album-card">
      <img src="../imagenes/linkin.jpg" alt="">
      <h3>LinkinPa</h3>
    </a>

  </section>
</main>

</body>
</html>
