<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pagina de musica">
    <meta name="author" content="Antonio Cruz">
    <meta name="keywords" content="musica, streaming, albumes, playlists, podcast">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Libreria</title>

    <link rel="icon" href="iconos/apple-touch-icon.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <main class="content">
  <section class="empty-state">
    <h2>Mi Librería</h2>
    <p>Aún no tienes álbumes en tu colección.</p>
    <a href="" class="btn btn-primary">
      Explorar Tienda
    </a>
  </section>
</main>

</body>
</html>