<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucess(EXITO)</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <section class="success">
        <h2>Purchase Completed</h2>
        <p>Your album has been successfully added to your library.</p>
    
        <a href="../index.html" class="btn btn-primary">
            Regresar a Descubrir
        </a>
    </section>
    
</body>
</html>